<!DOCTYPE html>
<html>
<title>{{ blog_title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>{{ blog_title }}</b></h1>
  <p>Welcome to the blog of <span class="w3-tag">{{ blog_author }}</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  {% for entry in blog_entries %}
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="{{ entry.img }}" style="width:200px">
    <div class="w3-container w3-padding-8">
      <h3><b>{{ entry.title }}</b></h3>
      <h5>{{ entry.description }} <span class="w3-opacity">{{ entry.date }}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{ entry.content }}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-disabled w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  {% endfor %}

<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card-2 w3-margin w3-margin-top">
  <img src="img/poortho.jpg" style="width:300px">
    <div class="w3-container w3-white">
      <h4><b>Poortho</b></h4>
      <p>I'm just a poor hacker who's always busy with something. In my free time... wait I don't have any free time because I'm always busy. I really enjoy robotics too. Check out <a href="files/poortho_resume.pdf">my resume</a>! Please hire me!</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card-2 w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="img/Truecrypt.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Truecrypt</span><br>
        <span>Truecrypt is really cool!</span>
      </li>
      <li class="w3-padding-16">
        <img src="img/hacking.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Hack On!</span><br>
        <span>Hackers reading my blog, here's to you</span>
      </li> 
      <li class="w3-padding-16">
        <img src="img/poor.gif" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Broke</span><br>
        <span>I'm dirt poor now; please donate</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="img/blog.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">New Blog</span><br>
        <span>I made a blog thing</span>
      </li>  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card-2 w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Hacking</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Robotics</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Always Busy</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">TrueCrypt</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">India</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Broke</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Useless</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Bad</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Blog Stuff</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Garbage</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Working Hard</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Hardly Working</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Encryption</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-disabled w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="https://www.youtube.com/watch?v=0RpdPzJgaBw">The Marvelous Breadfish</a></p>
</footer>

</body>
</html>