{% extends "base.html" %} {% block title%} {{ title }} {% endblock %} {% block
content%}
<div id="login-card">
	<form action="{{ request.path }}" method="POST">
		{{ form.csrf_token }} {% with messages =
		get_flashed_messages(with_categories=true) %}
		<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
		{% if messages %} {% for category, message in messages %}
		<div
			class="alert alert-{{category}} alert-dismissible fade show"
			role="alert"
		>
			{{ message }}
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="alert"
				aria-label="Close"
			></button>
		</div>
		{% endfor %} {% endif %} {% endwith %}

		<div class="text-center p-4">
			<h2>{{ chat_name }}</h2>
		</div>

		<div class="form-group mb-4">
			{{ form.username(class_="form-control",placeholder="Username")}}
		</div>
		{% for error in form.username.errors %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			{{ error }}
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="alert"
				aria-label="Close"
			></button>
		</div>
		{% endfor%}
		<div class="form-group mb-4">
			{{ form.pwd(class_="form-control",placeholder="Password")}}
		</div>
		{% for error in form.pwd.errors %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			{{ error }}
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="alert"
				aria-label="Close"
			></button>
		</div>
		{% endfor%}
		<div class="text-center">
			<div class="d-grid gap-2">
				<button
					type="submit"
					id="login-button"
					class="btn btn-block text-white mb-3"
				>
					Login
				</button>
			</div>
		</div>
	</form>
</div>
<style>
	#login-card {
		width: 33vw;
		background-color: transparent;
		padding: 20px;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	#login-button {
		background: linear-gradient(-45deg, #204829, #008529, #22b455, #80ce87);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>
{% endblock %}
