{% extends '_base.html' %}

{% block content %}
<div class="row marketing">
    <div class="col-lg-12">
        {% for _, dms in all_dms.items() %}
            {% for dm in dms %}
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="" alt="" />
                    </a>
                </div>
                <div class="media-body">
                    from: {{ dm.from_user.name }} to: {{ dm.to_user.name }} -- {{ dm.message }}
                </div>
            </div>
            {% endfor %}
            <hr />
        {% endfor %}
    </div>
</div>
{% endblock content %}
