{% extends '_base.html' %}

{% block signin_form %}
<form class="form-inline" role="form" action="/" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
            {{ form.name(placeholder="Name") }}
            {% if form.name.errors %}
            <span class="error">
            {% for error in form.name.errors %}
                {{ error}}
            {% endfor %}
            </span>
            {% endif %}
    </div>
    <div class="form-group">
            {{ form.password(placeholder="Password") }}
            {% if form.password.errors %}
            <span class="error">
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
            </span>
            {% endif %}
    </div>
    <button class="btn btn-sm btn-primary" type="submit">Sign in</button>
    </form>
{% endblock signin_form %}

{% block content %}
      <div class="jumbotron">
        <h1>tweepy</h1>
        <p class="lead">basically twitter, but not</p>
        {% if not session.logged_in %}
        <p><a class="btn btn-lg btn-success" href="/register/" role="button">Sign up today</a></p>
        {% endif %}
      </div>
{% endblock content %}
