[submodule "competitions/chalgen-competitions"]
	path = competitions/chalgen-competitions
	url = https://github.com/CTFg/chalgen-competitions/

[submodule "competition_infra/ctfg"]
	path = competition_infra/ctfg
	url = https://github.com/CTFg/ctfg/
