[submodule "competition_infra/xctf"]
	path = competition_infra/xctf
	url = https://github.com/xctf-io/xctf

[submodule "chal_types/chal_files/AndroRat"]
	path = chal_types/chal_files/AndroRat
	url = https://github.com/karma9874/AndroRAT/
